@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-theme: #ffffff;
    --color-bgBase: #f7f9fb;
    --color-content: #1c1c1d;
    --color-grey: #7e7e7e;
    --color-primary: #7c57ff;
    --color-error: #e60000;
    /* ... */
  }
  :root[theme='dark'] {
    --color-bkg: 217deg 32.6% 17.5%;
    --color-content: 210deg 40% 98%;
    /* ... */
  }
}

.container {
  width: calc(100vw - 257px);
  margin-left: 257px;
  white-space: pre-wrap;
  padding: 26px 40px;
  height: 100%;
}
