@tailwind base;
@tailwind components;
@tailwind utilities;

.figtree-font {
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Figtree', sans-serif;
  /* .no-spinners {
    -moz-appearance: textfield;
  }

  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */
}

@layer base {
  :root {
    --color-theme: #ffffff;
    --color-bgBase: #f7f9fb;
    --color-content: #1c1c1d;
    --color-grey: #7e7e7e;
    --color-grey10: #787878;
    --color-grey20: #8f95b2;
    --color-grey30: #969696;
    --color-grey40: #c2c2c2;
    --color-primary: #7c57ff;
    --color-primary10: #a193ff;
    --color-primaryLite: #f4f3ff;
    --color-error: #e60000;
    --color-green: #7ec665;
    --color-yellow: #dd900d;
    --color-pink: #cc658a;
    --color-blue: #2582d4;
    /* ... */
  }
  :root[theme='dark'] {
    --color-bkg: 217deg 32.6% 17.5%;
    --color-content: 210deg 40% 98%;
    /* ... */
  }
}

.wrapper {
  width: calc(100vw - 72px);
  margin-left: 72px;
  white-space: pre-wrap;
  padding: 26px 40px 70px ;
  height: 100%;
  overflow-y: auto;
}
