@tailwind base;
@tailwind components;
@tailwind utilities;

.shantell-sans-font {
  font-family: 'Shantell Sans', cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'BNCE' 0, 'INFM' 0, 'SPAC' 0;
}

.figtree-font {
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@layer base {
  :root {
    --color-theme: #ffffff;
    --color-bgBase: #f7f9fb;
    --color-content: #1c1c1d;
    --color-grey: #7e7e7e;
    --color-primary: #7c57ff;
    --color-primary10: #a193ff;
    --color-primaryLite: #f2eeff;
    --color-error: #e60000;
    /* ... */
  }
  :root[theme='dark'] {
    --color-bkg: 217deg 32.6% 17.5%;
    --color-content: 210deg 40% 98%;
    /* ... */
  }
}

.wrapper {
  width: calc(100vw - 257px);
  margin-left: 257px;
  white-space: pre-wrap;
  padding: 26px 40px;
  height: 100%;
}
